.border-box{
    border: .5px;
    border-style: solid;
    border-color: black;
    margin: .25em;
    padding: .25em;
    border-radius: 5px 5px;
}

.music-title{
    margin: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.add-title{
    margin: auto;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 1px;
}

.entire-search-bar{
    display: table;
    margin: auto;
    width: 20%;
}

.search-box{
    display: table-cell;
    width: 200px;
}

.search-btn{
    display: table-cell;
    width: 60px;
    margin: 3%;
}

.prop-tabel{
    display: table;
    margin: auto;
    width: 50%;
}

.prop-labels{
    border: .1px;
    border-style: solid;
    border-color: black;
    border-radius: .5px .5px;
}

.prop-values{
    border-bottom: 1px solid black;
}

.creating-wrapper{
    display: table;
    margin: auto;
    width: 80%;
    padding: 5px;
}

.adding-label{
    width: auto;
    padding: 5px;
}

.adding-box{
    width: auto;
}

.add-btn {
    margin: 1%;
}