.border-box{
    border: .5px;
    border-style: solid;
    border-color: black;
    margin: .25em;
    padding: .25em;
    border-radius: 5px 5px;
    background-color: rgba(84, 149, 218, 0.463);
}

.music-title{
    margin: auto;
    text-align: center;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 5px;
}

.add-title{
    margin: auto;
    text-align: center;
    font-size: x-large;
    margin-top: 55px;
    margin-bottom: 5px;
}

.entire-search-bar{
    display: table;
    margin-left: 25%;
    width: 60%;
    font-size: 1vw;
}

.search-box{
    display: table-cell;
    width: 60%;
}

.search-btn{
    display: table-cell;
    width: 20%;
    margin: 3%;
}

.prop-tabel{
    display: table;
    margin: auto;
    width: 50%;
    padding: 5px;
    font-size: min(max(50px, 1.6vw), 14px);
}

.prop-labels{
    border: .1px;
    border-style: solid;
    border-color: black;
    border-radius: .5px .5px;
}

.prop-values{
    border-bottom: 1px solid black;
}

.creating-wrapper{
    display: table;
    margin-left: 32%;
    width: 60%;
}

.adding-label-n-box{
    padding: 5px;
}

.adding-label{
    display: table-cell;
    width: 5%;
    padding: 1px;
}

.adding-box{
    display: table-cell;
    width: 60%;
}

.add-btn {
    display: table-cell;
    padding: 2px;
    margin: 5px;
}

.delete-btn{
    display: table-cell;
    width: 100%;
    padding: 1px;
    margin: 5px;
}